*{
    text-decoration: none;
    font-family: 'Darumadrop One', arial;   
    margin:0px;
    list-style: none;
    
}


header{
    display: flex;
    justify-content: space-between;
    margin:30px;
}

.LandingPage{
    font-size: 16px;

}

.buttom{
    padding:5px;
    background-color: #8E03C0;
    border-radius: 5px;
    color: #37004b;
    font-size: 20px;

}

span{
    border-bottom: #37004b 5px solid ;

    border-radius: 3px;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{    
    display: flex;
    flex-direction: row;
}

main{
    margin: 0px 0px 0px 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.txtmain{
    display: flexbox;
    max-width: 560px;
}
.imgclass{
    width: 400px;
    height: 500px;
    display: flex;
    margin-left:90px;
}

aside{
    margin-top: 70px;
    background-color: purple;
    color: white;
    text-align: center;
    flex-direction: column;
}

h2{
    font-size: 32px;
}
.img2{

    max-width: 200px;

}

aside>p{
font-size: 14px;

}

.containerF{
    display: flex;
    flex-direction: row;
}




footer{

    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}



.footertxt{

    display: flexbox;
    max-width: 700px;
    margin-top: 40px;
   
    

}

.img3{
    margin-top: 40px;
    max-width: 400px;
    display: flex;
    margin-right: 30px;
}

.imgs{
    max-width: 400px;
    display: flex;
}


.p1{

    margin-top: 20px;
    margin-bottom: 20px;
}

.p2{
    margin-bottom: 20px;
}


.FOOTER2{
    font-size: 14px;
    display: flex;
    background-color: #313131;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding:20px;
}

.LandingPageFooter>a{
    color: white;
}

.LandingPageFooter{
    
    margin-left: 20px;
}
.list>li{
    margin-bottom: 20px;
    
}

.linkwhite{
    color: white;
}

.Logos>i{
    margin-right: 20px;
}
.Logos>p{
    margin-bottom: 20px;
}