.caixa{
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: nowrap;
    height: 400px;
    align-content:space-between;
    justify-content: center;
}

.item{
    background: tomato;
    margin: 5px;
    text-align: center;
    font-size: 30px;
}

/*/gap: px; /